body{
    font-size: $defult_page_size;
    color: $text_color;
    li,ul,a{
        text-decoration: none;
    }

}


nav{
    @include flex_row;
    align-items: baseline;
    justify-content: space-around;
}
ul{
    li{
        padding-left: 2em;
        margin-left: 2em;
        font-size: $normal_size_font;
    }
}

footer{
    @include flex_row;
    @include flex_central_content;
    height: 15vh;
    color: $light_black;
    background-color: $body_color;
    font-size: $normal_size_font;
}

//**********************************************************************************************
//            SMALL SCREEN
//**********************************************************************************************
// @include small_screen{}



//**********************************************************************************************
//            MEDIUM SCREEN
//**********************************************************************************************
// @include medium_screen{}

//**********************************************************************************************
//            LARGE SCREEN
//**********************************************************************************************
// @include large_screen{

// }


//**********************************************************************************************
//            X-LARGE SCREEN
//**********************************************************************************************
// @include xtera_large_screen{}


//**********************************************************************************************
//            X-SMALL SCREEN
//**********************************************************************************************
// @include xtera_small_screen{}