//**********************************************************************************************
//            COLORS 
//**********************************************************************************************
$text_color:#b9c2bd;
$light_black:rgba(0, 0, 0, 0.253);
$dark_black :rgba(0,0,0,0.7);
$body_color:#ffc;
$card_section_body_color:#4488bb;
$card_section_item_body_color:#a2b1cf;
$card_section_item_color : #555;






//**********************************************************************************************
//            SIZES
//**********************************************************************************************
$font_size_header:3em;
$normal_size_font :1.5em;
$small_size_font : 1em;
$large_size_font : 4em;
$defult_page_size :11px;





//**********************************************************************************************
//            FONTS 
//**********************************************************************************************
$font_family:'Arial';